body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 3rem;
}

header {
    padding-right: 20px;
}

nav {
    text-align: right;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a i  {
    margin-right: 12px;
}
  
nav ul li a {
    text-decoration: none;
    color: #000; 
    display: flex; 
    align-items: center; 
}

.home-button {
    color: #D1884F;
}

#intro {
    text-align: center;
    padding: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}
